@model IEnumerable<BGuilaTour.Models.Excursao>

@{
    ViewData["Title"] = "Index";
}

<h1>CLientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataIda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVolta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataIda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVolta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdExcursao">Edit</a> |
                <a class="btn alert-info" asp-action="Details" asp-route-id="@item.IdExcursao">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdExcursao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
